body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box {
  width: 23% !important;
  height: 90px;
  background-color: black;
  border: 4px solid rgb(67, 39, 112);
  cursor: pointer;
}

.selected-box {
  width: 23% !important;
  height: 90px;
  background-color: yellow;
  border: 4px solid black;
  cursor: pointer;
}
.box-row {
  margin-top: 50px !important;
}
